html,
body {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* this is given in order to avoid padding altering the dimension of our divs */
}

.header {
    height: 10%;
    width: 100%;
    background-color: #0F1111;
    display: flex;
    padding: 5px;

    align-items: center;
    /* justify-content: space-between; */
}

.subheader {
    height: 8%;
    width: 100%;
    background-color: #232f3e;
}

.container {
    height: 82%;
    width: 100%;
    background-color: #e7e7e7;
    padding: 10px;
    display: flex;
    /* flex wrap was done to wrapp the children so that 
    they dont get compressed due to the dimension of parent */
    flex-wrap: wrap;
    /* overflow -y defines how you want to handle the overflow vertically */
    overflow-y: scroll;
}

.section1 {
    display: flex;
    /* background-color: yellow; */
    width: 15%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 100%;
    width: 30%;


}

.logo>img {
    height: 100%;
    width: 100%;
}

.deliver {
    height: 100%;
    width: 40%;
    /* background-color: lightcoral; */
    display: flex;

}

.deliver>.icon {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center
        /* background-color: red; */
}

.deliver>.icon>i {
    height: 6px;
    color: white;
}

.deliver-content {
    height: 100%;
    font-size: small;
    width: 70%;
    display: flex;
    color: white;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
}

.section2 {
    /* background-color: red; */
    height: 65%;
    width: 60%;
    margin-left: 15px;
}

.section2>.searchbox>input {
    height: 95%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
}

.searchbox {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* padding: 2px; */
}

.section3 {
    /* background-color: red; */
    width: 22%;
    height: 65%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signin {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;

}

.signin>button {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3cf72;

}

.orders {
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;

}


.cart {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}

.cart>i {
    color: white;
}

.subheader {
    display: flex;
    align-items: center;
}

.subheader>div {
    margin-left: 15px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hoverEffect {
    border: 1px solid black;
    transition: 1ms;
}

.hoverOut {
    transition: 1ms;
    border: none;
}

.card {
    margin: 8px;
    height: 45%;
    width: 15%;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(204, 196, 204, 1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(204, 196, 204, 1);
    box-shadow: 10px 10px 5px -4px rgba(204, 196, 204, 1);
}

.image-card {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card>img {
    height: 95%;
    width: 95%;
}

.card-content {
    height: 40%;
    width: 100%;
    padding: 2px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}