

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.header{
    width: 100%;
    height: 5%;
    background: lightcoral;
    
}
.input-container{
    height: 30%;
    width: 30%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}
input{
    margin:2px;
    height: 15%;
    
}
.content{
    width: 100%;
    height:90%;
    background-color: lightgrey;
    display: flex;
    /* jc => horizontal */
    justify-content: center;
    /* ai => vertical placement */
    align-items: center;
}
.footer{
width: 100%;
height: 5%;
background-color: lightcoral;
}

.main-modal{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: .; */
}
div:hover{
    background-color: beige;
}
